/* All HTML */
* {
	padding: 0;
	margin: 0;
	font-family: Arial, Helvetica, sans-serif;
}
body {
	background-color: #12395b;
}


main {
	display: cell;
	/* Size */
	min-width: 650px;
	
	/* Style */
	background-color: #ddd;
	box-shadow: 0px 0px 5px 1px black;
	border-radius: 4px;
	
	/* Positioning */
	padding: .5em;
	margin: 1em 5em;
	text-align: center;
}

/* Sections */
section {
	margin: .5em auto;
}
.top_section h1 { color: #12395b; }
.top_section input {
	max-width: 550px;
	min-width: 300px;
	width: 60%;
}
.instructions {
	width:550px;
	margin: auto;
	padding-left: 8em;
	text-align: left;
	font-size: .9em;
}
.image_container {
	position: relative;
	display: inline-block;
	border: 0px solid black;
	box-shadow: inset 0px 0px 5px black;
	background-color: white;
	padding: 1px;
}
.image_container #unmapped_img {
	display:block;
}
.html_gen_container {
	width: 550px;
	overflow: hidden;
}
.html_gen_container #html_output {
	margin: .5em auto;
	display: block;
	width: 550px;
	height: 20em;
	resize: none;
	overflow: auto;
}

/* Buttons */
button {
	padding: .3em;
	width: 50%;
}
#html_gen_btn { float: left; }
#reset_btn { float: right; }

/* Generated Elements */
.link_box {
	position: absolute !important;
}
.link_box_selected {
	border: 1px solid orange;
	background: rgba(216, 165, 34, .5) !important;
}
.link_box_red {
	border: 1px solid red;
	background: rgba(191, 1, 1, .5) !important;
}
.link_box_blue {
	border: 1px solid blue;
	background: rgba(0, 20, 178, .5) !important;
}
.link_box:hover {
	cursor: pointer;
	background: rgba(0, 0, 0, .5) !important;
}
